//
//  EventHub Debug.xcconfig
//  EventHub
//
//  Created by Rodrigo Cerqueira Reis on 01/08/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
#include "Secrets.xcconfig"
